end_to_end_data_engineer_project_shoppingmart_analytics/shoppingmart_unstructure_dataingest_bronze_layer.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": "refs/heads/main/ShoppingMart_StructuredData/Orders_Data.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "30877c0c-39c6-47a4-814d-a094b3eb0ecb"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "ShoppingMartBronze",
                  "fileName": "Orders.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "shoppingmart_lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "b8f991a4-df6e-425b-80a2-43a82263fd55",
                    "workspaceId": "9caebd0d-2a58-418d-a2af-7b6a694302c9",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy_ShoppingMart_Bronze_UsingAPI",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "ShoppingMart_SourceMetaData",
                "fileName": "ShoppingMart_UnstructuredMetaData.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "shoppingmart_lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "2263fd55-43a8-80a2-425b-df6eb8f991a4",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_ShoppingMart_MetaData_UnStructure",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_ShoppingMart_MetaData_UnStructure').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": {
                    "type": "JsonReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@item().source_url",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "externalReferences": {
                      "connection": "30877c0c-39c6-47a4-814d-a094b3eb0ecb"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "JsonSink",
                  "formatSettings": {
                    "type": "JsonWriteSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@item().sink_folder",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@item().sink_file",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "shoppingmart_lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "2263fd55-43a8-80a2-425b-df6eb8f991a4",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy_ShoppingMart_MetaData",
              "dependsOn": [
                {
                  "activity": "DeleteExistFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Delete",
              "typeProperties": {
                "enableLogging": false,
                "datasetSettings": {
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": {
                        "value": "@item().sink_folder",
                        "type": "Expression"
                      },
                      "fileName": {
                        "value": "@item().sink_file",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "shoppingmart_lakehouse",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "2263fd55-43a8-80a2-425b-df6eb8f991a4",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "DeleteExistFile",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_SourceStructure_Files",
        "dependsOn": [
          {
            "activity": "Lookup_ShoppingMart_MetaData_UnStructure",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}